table {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-spacing: 0;
    margin: 1.6em 0;
    width: 100%;
    max-width: 100%;
    background-color: transparent;

    th,
    td {
        padding: 8px;
        line-height: 20px;
        text-align: left;
        vertical-align: top;
    }

    thead {
        th,
        td {
            border-bottom: 1px solid var(--color-text);
        }
    }

    tbody>tr:nth-child(even) {
        background-color: #fff5;
        background-blend-mode: lighten;
    }

    &.plain tbody>tr:nth-child(odd)>td,
    &.plain tbody>tr:nth-child(odd)>th {
        background: transparent;
    }
}