body {
    --color-text: var(--color-text-main);
    --color-background: var(--color-background-main);
}

.post-holder {
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    color: var(--color-text);
    position: relative;

    &.dark {
        // override variables for alternative style
        --color-text: var(--color-text-alt);
        --color-background: var(--color-background-alt);

        background-color: var(--color-background-alt);
        color: var(--color-text-alt);

        // Fix <hr> color
        hr {
            border-color: var(--color-text-alt);
        }

        // On alt posts move the triangle to the right and match the background the color
        .post-after {
            left: unset;
            right: 6%;
            border-top-color: var(--color-background-alt);
        }
    }

    /**
      The tri-angular parts between posts
    */
    .post-after {
        position: absolute;
        bottom: -40px;
        z-index: 1;
        left: 6%;
        width: 0;
        height: 0;
        border-left: 60px solid transparent;
        border-right: 60px solid transparent;
        border-top: 50px solid var(--color-background);
        border-radius: 25px;
    }
}


/** For single pages and 404 error page the "back" button */
#blog-logo img {
    display: block;
    max-height: 100px;
    width: auto;
    margin: 0 auto;
    line-height: 0;
}

/* Big cover image on the home page */
#site-head {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    margin-bottom: 0rem;
    text-align: center;
    color: var(--color-text-cover);
    background: var(--color-background-alt) no-repeat center center;
    background-size: cover;

    .blog-title {
        margin: 10px 0 10px 0;
        font-size: 5rem;
        letter-spacing: -1px;
    }

    .blog-description {
        margin: 0;
        font-size: 2.5rem;
        line-height: 1.5em;
        font-weight: 400;
        font-family: "Roboto Slab", serif;
        letter-spacing: 0;
    }

    /** The arrow button to scroll to content */
    #header-arrow {
        font-size: 140px;
        margin: -10px auto;
        text-align: center;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -120px;
        cursor: pointer;
        opacity: 0.6;
        transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;

        &:hover {
            opacity: 0.9;
        }
    }
}

/**
  Site footer
*/
.site-footer {
    background: var(--color-primary);
    color: var(--color-primary-text);
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;

    position: relative;
    margin: 0rem 0 0 0;
    padding: 1rem 0;
    line-height: 1.5em;
    text-align: center;

    a {
        color: var(--color-primary-text);
        text-decoration: underline;
    
        &:hover {
            background-color: #fff4;
            border-radius: 5px;
        }
    }
}

/**
  Every post, on every page, gets this style on its <article> tag
  Not inside the post holder as this also applies for single pages
*/
.post {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: 0rem auto;
    padding-bottom: 4rem;
    padding-top: 4rem;
    height: 70%;
    word-break: break-word;
    hyphens: auto;
}

.fixed-nav {
    display: none;
    opacity: 1;
    position: fixed;
    top: 40px;
    left: 2%;
    z-index: 99999;
    font-family: "Open Sans Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 130%;
    font-weight: bold;

    // Navigation items
    a.fn-item {
        display: block;
        cursor: pointer;
        opacity: 0.7;
        text-decoration: none;

        &:hover,&.active {
            color: var(--color-primary);
        }

        &.active {
            opacity: 1;
        }
    }
}

.post-title {
    margin: 0;

    a {
        text-decoration: none;
    }
}

/**
  Single pages
*/
.post-template {
    // Tweak the .post wrapper style
    .post {
        margin-top: 0;
        border-bottom: none;
        padding-bottom: 0;
    }

    // Kill that stylish little circle that was on the border
    .post:after {
        display: none;
    }

    // Insert some mad padding up in the header for better spacing
    .post-header {
        padding: 60px 0;
    }
}

// Keep large images within the bounds of the post-width
.post-content img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/* CSS tooltip saying "Subscribe!" - initially hidden */
.tooltip {
    opacity: 0;
    display: inline-block;
    padding: 4px 8px 5px 8px;
    position: absolute;
    top: -23px;
    left: -23px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1em;
    text-align: center;
    background: #50585d;
    border-radius: 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, top 0.3s ease;
}

/* The little chiclet arrow under the tooltip, pointing down */
.tooltip:after {
    content: "";
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: #50585d transparent;
    display: block;
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -5px;
    z-index: 220;
    width: 0;
}

/** Helper to be inserted by JS before quotations */
.quo {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
}

/**
  Bullet icon class for unordered list elements
 */
.bult {
    display: inline;
    float: left;
    padding-top: 7px;
}
