:root {
    /** Main text color */
    --color-text-main: #3a4145;
    --color-text-lighter: #576161;
    /** Text color on the cover image */
    --color-text-cover: #37501a;
    /** Text color on odd sections */
    --color-text-alt: white;

    /** Main background color */
    --color-background-main: #f2efe8;
    /** color-background : #f2efe8 defined elsewhere,why?*/
    --color-background-darker: #e0ded7;
    /** Background color on odd sections*/
    --color-background-alt: #b80135;

    /* Used for Landing screen menu buttons */
    --color-glow: #86c440;
    --color-glow-contrast: #37501a;
    --color-glow-dark: #37501a;
    --color-glow-dark-contrast: white;

    /** Primary color, e.g. for the main buttons */
    --color-primary: #9fd067;

    /** Color to be used for text on primary elements */
    --color-primary-text: black;
}