html {
  height: 100%;
  max-height: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  max-height: 100%;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  line-height: 1.6em;
  color: var(--section-light-text-color);
}

::-moz-selection {
  color: #222;
  background: #d6edff;
  text-shadow: none;
}

::selection {
  color: #222;
  background: #d6edff;
  text-shadow: none;
}

/** =========== Headings =========== */
h1,h2,h3,h4,h5,h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
}
h3,h4,h5,h6 {
  text-rendering: optimizeLegibility;
  line-height: 120%;
  margin-top: 0;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0%;
}

h1 {
  font-size: 5rem;
  line-height: 1.2em;
  letter-spacing: -2px;
  text-indent: -3px;
}

h2 {
  font-size: 4rem;
  line-height: 1.2em;
  letter-spacing: -1px;
  text-indent: -2px;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-size: 2rem;
}

p{
  margin: 1em 0;
}

/** ======== Links ========= */
a {
    color: inherit;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;

    &:hover {
        color: var(--sticky-menu-text-color);
    }

    // Fix font awesome icons
    &.fa {
        text-decoration: none;
    }
}

/** ======== Lists ====================== */
dl {
    margin: 1.6em 0;

    dt {
    float: left;
    width: 180px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    margin-bottom: 1em;
    }

    dd {
    margin-left: 200px;
    margin-bottom: 1em;
    }
}

ul, ol {
    margin: 1em 0;

    // Second level of lists
    ol, ul {
        margin: 0.4em 0;
    }
}

li {
  margin-left: 30px;
}

/** ======== Content semantics ============= */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--color-text);
    margin: 1.5em 0;
    padding: 0;
}

/** Helper to be inserted by JS before quotations*/
.quo {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
}

blockquote {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1em 0 1em -2.2em;
    padding: 0 0 0 1em;
    color: var(--section-uni-quote);

    p {
        margin: 0.8em 0;
    }

    small {
        display: inline-block;
        margin: 0.8em 0 0.8em 1.5em;
        font-size: 0.9em;
        color: #ccc;

        &:before {
            content: "\2014 \00A0";
        }
    }

    cite {
        font-weight: bold;

        a {
            font-weight: normal;
        }
    }
}

mark {
    background-color: var(--sticky-menu-text-color);
    filter: brightness(125%);
}

code, tt {
    color: var(--section-light-text-color);
    background-color: var(--section-uni-code-bg-color);
    border-radius: 3px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.75em;
    padding: 3px 5px;
}

code {
    color: var(--section-light-text-color);
    background-color: var(--section-uni-code-bg-color);
    border-radius: 3px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.75em;
    padding: 3px 5px;
}

pre {
    background: var(--section-light-text-color);
    color: #e2e2e2;
    border: 1px solid #343434;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.9em;
    margin: 1.6em 0;
    padding: 10px;
    white-space: pre;
    overflow-x: scroll;
    width: 100%;

    code, tt {
        color: inherit;
        background: transparent;
        font-size: inherit;
        white-space: -moz-pre-wrap;
        white-space: pre-wrap;
        border: none;
        padding: 0;
    }
}

kbd {
    color: var(--section-light-text-color);
    background: var(--section-uni-code-bg-color);
    border: var(--section-light-text-color) 1px solid;
    border-radius: 4px;
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 0.4em;
    padding: 1px 8px;
    text-shadow: #fff 0 1px 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset;
}

/** ======== Tables ========= */
table {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-spacing: 0;
    margin: 1.6em 0;
    width: 100%;
    max-width: 100%;
    background-color: transparent;

    th,
    td {
        padding: 8px;
        line-height: 20px;
        text-align: left;
        vertical-align: top;
    }

    thead {
        th,
        td {
            border-bottom: 1px solid var(--color-text);
        }
    }

    tbody>tr:nth-child(even) {
        background-color: #fff5;
        background-blend-mode: lighten;
    }

    &.plain tbody>tr:nth-child(odd)>td,
    &.plain tbody>tr:nth-child(odd)>th {
        background: transparent;
    }
}

/** ======== Github integration ========= */
.gist {
    table {
        margin: 0;
        font-size: 1.4rem;
    }

    .line-number {
        min-width: 25px;
        font-size: 1.1rem;
    }
}

