body {
  --color-text: var(--section-light-text-color);
  --color-background: var(--section-light-bg-color);
}
/* ===== Cover =======*/

#blog-logo {
  display: block;
  max-height: 100px;
  width: auto;
  margin: 0 auto;
  line-height: 0;
}

#site-head.withCenteredImage{
  /* can't be used together with video */
  background: var(--section-light-bg-color) no-repeat center center;
}

#site-head, #site-head.withCenteredImage {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  margin-bottom: 0rem;
  text-align: center;
  color: var(--cover-text-color);
  background-size: cover;

  /* Big cover video at the landing area */
  video {
    bottom: 0;
    height: 100%;
    min-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    z-index: -100;
  }

  .title-and-description-guard {
    margin: auto;
    padding: 0.6em;
    background-color: var(--cover-title-and-description-guard-bg-color);
    border-radius: 25px;
    width: fit-content;
  }

  .blog-title {
    margin: 10px 0 10px 0;
    font-size: 5rem;
    letter-spacing: -1px;
    text-shadow: var(--cover-title-text-shadow);
  }

  .blog-description {
    margin: 0;
    font-size: 2.5rem;
    line-height: 1.5em;
    font-weight: 400;
    font-family: "Roboto Slab", serif;
    letter-spacing: 0;
    text-shadow: var(--cover-title-text-shadow);
  }

  // Landing screen menu
  a.btn {
    text-decoration: none;
    background-color: var(--highlight);
    color: var(--highlight-contrast);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0;
    overflow: visible;
    padding: 10px 20px 10px 20px;
    position: relative;
    margin-top: 2rem;
    cursor: pointer;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: lighter;

    &:hover {
      color: var(--highlight-inverse-contrast);
      background-color: var(--highlight-inverse);
    }
  }

  /** The arrow button to scroll to content */
  #header-arrow {
    font-size: 140px;
    margin: -10px auto;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -120px;
    cursor: pointer;
    opacity: 0.6;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;

    &:hover {
      color: inherit;
      opacity: 0.9;
    }
  }
}

// ========== Sticky menus ===========
/* Left sticky menu */
.fixed-nav {
  background-color: var(--section-light-bg-color);
  border-radius: 0 25px 20px 0;
  padding: 1em 1.5em;
  display: none;
  flex-direction: column;
  position: fixed;
  top: 40px;
  z-index: 99999;
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 130%;
  font-weight: bold;
}

a.fn-item {
  display: block;
  cursor: pointer;
  opacity: 0.7;
  text-decoration: none;

  &:hover,
  &.active {
    color: var(--sticky-menu-text-color);
  }

  &.active {
    opacity: 1;
  }
}

/* ========= Content ==========*/
.post-title {
  margin: 0;

  a {
    text-decoration: none;
  }
}

.post-holder {
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  color: var(--color-text);
  position: relative;

  &.dark {
    // override variables for alternative style
    --color-text: var(--section-dark-text-color);
    --color-background: var(--section-dark-bg-color);

    background-color: var(--section-dark-bg-color);
    color: var(--section-dark-text-color);

    // Fix <hr> color
    hr {
      border-color: var(--section-dark-text-color);
    }

    // On alt posts move the triangle to the right and match the background the color
    .post-after {
      left: unset;
      right: 6%;
      border-top-color: var(--section-dark-bg-color);
    }
  }

  /* The triangular parts between posts */
  .post-after {
    position: absolute;
    bottom: -40px;
    z-index: 1;
    left: 6%;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 50px solid var(--color-background);
    border-radius: 25px;
  }
}

/* Every post, on every page, gets this style on its <article> tag
  Not inside the post holder as this also applies for single pages
*/
.post {
  position: relative;
  width: 80%;
  max-width: 700px;
  margin: 0rem auto;
  padding-bottom: 4rem;
  padding-top: 4rem;
  height: 70%;
  word-break: break-word;
  hyphens: auto;
}

/* ======= Single pages =========== */
.page-template {

  background-color: var(--single-page-bg-color);
  color: var(--single-page-text-color);
  // to remove the white space after the footer on pages shorter
  // than actually would fit into the browser window
  min-height: calc(100vh - 2em);

  // Tweak the .post wrapper style
  .post {
    margin-top: 0;
    border-bottom: none;
    padding-bottom: 0;
    // to account for the margin of content elements
    padding-bottom: 1em;
  }

  // Kill that stylish little circle that was on the border
  .post:after {
    display: none;
  }

  // Insert some mad padding up in the header for better spacing
  .post-header {
    padding: 60px 0;
  }
}

// Keep large images within the bounds of the post-width
.post-content img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

/** ==========  Site footer ============ */
.site-footer {
  background: var(--footer-color-background);
  color: var(--footer-color);
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  position: relative;
  margin: 0rem 0 0 0;
  padding: 1rem 0;

  line-height: 1.5em;
  text-align: center;
}

.site-footer a {
  color: var(--footer-color);
  text-decoration: underline;
}

.site-footer a:hover {
  color: var(--sticky-menu-text-color);
}

/* Footer Icons */
.icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 8px;
}

/* Footer Links */
.site-footer .links {
  text-align: center;

  ol {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0;
  }

  li {
    margin-left: unset;
  }
}
