<!-- A partial to be overwritten by the user.
     Simply place a custom_head_video.html into
     your local /layouts/partials-directory.
     Its content will appear after the site-head/vertical section. 
     This can be used to inject a video as an alternative background.
     Full example below: -->

<!--
<video class="background-video" id="background-video" playsinline="" autoplay="true" muted="" loop="" poster="some_poster_jpg">
     <source src="some_webm_video" type="video/webm">
     <source src="some_mp4_video" type="video/mp4">
     <source src="some_mov_video" type="video/mov">
</video>
-->