<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

{{ if and site.Params.combine_page_and_site_title .Title .Site.Title }}
<title>{{ .Title | plainify }} | {{ .Site.Title | plainify }}</title>
{{ else }}
{{ with or .Title .Site.Title | plainify }}
<title>{{ . }}</title>
{{ end }}
{{ end }}

{{ with resources.Get .Site.Params.favicon }}
  <link rel="shortcut icon" href="{{ .RelPermalink }}" type="{{ .MediaType.Type }}" />{{ end }}

{{ with or .Description .Site.Params.description | plainify }}
  <meta name="description" content="{{ . }}"
/>{{ end }}
{{ with or (delimit .Keywords ", ") .Site.Params.meta.keywords }}
  <meta name="keywords" content="{{ . }}"
/>{{ end }}
<meta name="referrer" content="no-referrer-when-downgrade" />

<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{{ $stylesheetNormalize := resources.Get "css/normalize.css" }}
{{ $stylesheetFA := resources.Get "css/fontawesome/fontawesome.min.css" }}
{{ $stylesheetFABrands := resources.Get "css/fontawesome/brands.min.css" }}
{{ $stylesheetFASolid := resources.Get "css/fontawesome/solid.min.css" }}
{{ $stylesheetFonts := resources.Get "css/fonts.css" }}
{{ $stylesheetGeneric := resources.Get "css/generic.css" }}

{{ $stylesheetScreen := ( resources.Get "css/_index.scss" | css.Sass ) }}

{{ $stylesheet := slice $stylesheetNormalize $stylesheetFA $stylesheetFABrands $stylesheetFASolid $stylesheetFonts $stylesheetGeneric $stylesheetScreen | resources.Concat "css/style.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $stylesheet.RelPermalink }}" type="text/css" integrity="{{ $stylesheet.Data.Integrity }}" />

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/schema.html" . }}

<!-- A partial to be overwritten by the user.
     Simply place a custom_head.html into
     your local /layouts/partials-directory -->
{{- partial "custom_head.html" . -}}
